<div class="headspace">
</div>

<div class="container decision">
  <h1>I am a:</h1>
  <div>
    <%= button_to "Student", make_student_user_path(@user), method: :get %>
    <%= button_to "Tutor", make_tutor_user_path(@user), method: :get  %>
  </div>

</div>

<footer>
</footer>
