<div class="headspace">
</div>

<div class="container homepage">
  <h1>Who's Tutoring at Ada Right Now?</h1>
  <%= button_to "Sign in with Github", "auth/github" %>
  <div>
    <%= link_to "Sign up", 'auth/github' %>
  </div>
</div>

<footer>
</footer>
